{% if content %}

  <div {{ attributes.addClass('grid-x').addClass('grid-padding-x') }}>
    {% for region in content['#layout'].regions|keys if content[region] %}
      <div class="small-6 cell">
        {{ content[region] }}
      </div>
    {% endfor %}
  </div>

{% endif %}
