<div {{ attributes.addClass('component').addClass('grid-x').addClass('grid-margin-x') }}>
  <div class="cell medium-4">
    {{ content.field_image }}
  </div>
  <div class="cell medium-8">
    {{ content.field_text }}
  </div>
</div>
